[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
pydantic = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
build = "python setup.py sdist bdist_wheel"
upload = "python -m twine upload dist/*"
