[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
